---
// import Svelte from "../components/test.svelte";
import LogoutButton from "../components/logoutButton.svelte"
---

<!-- <App client:load/> -->
<!-- <Svelte client:load/>
<p> . </p> -->
<LogoutButton client:load/>